spring:
  application:
    name: users
    version: @project.version@
  cloud:
    discovery:
      enabled: true
      eureka:
        instance:
          hostname: localhost
    client:
      hostname: localhost
    loadbalancer:
      enabled: true
      ribbon:
        enabled: false
  jackson:
    time-zone: America/Sao_Paulo
  jpa:
    enabled: true
    properties:
      hibernate:
        jdbc:
          time_zone: America/Sao_Paulo
  security:
    enabled: true
  feign:
    client:
      enabled: false
  eureka:
    enabled: true
  discovery:
    client:
      enabled: false
  cache:
    type: redis
    redis:
      time-to-live: 3600s
  redis:
    enabled: false
    host: redis
    port: 6379
    ssl:
      enabled: false
    timeout: 5000
    jedis:
      pool:
        max-idle: 10
        min-idle: 1
        max-total: 20
  flyway:
    user: gl_user
    password: gl_user
    locations: classpath:db/migration
    table: FLYWAY_SCHEMA_HISTORY

github:
  oauth:
    client:
      id: ${GITHUB_CLIENT_ID:}
      secret: ${GITHUB_CLIENT_SECRET:}
      redirect-uri: ${GITHUB_CLIENT_REDIRECT_URI:}

google:
  oauth:
    client:
      id: ${GOOGLE_CLIENT_ID:}
      secret: ${GOOGLE_CLIENT_SECRET:}
      redirect-uri: ${GOOGLE_CLIENT_REDIRECT_URI:}

server:
  port: 8197
  servlet:
    context-path: /users

eureka:
  client:
    service-url:
      defaultZone: ${URL_DISCOVERY:http://localhost:8761/discovery/eureka}
    fetch-registry: true
    register-with-eureka: true

management:
  endpoints:
    web:
      exposure:
        include: "*"

  tracing:
    enabled: true
    exporter:
      zipkin:
        enabled: true
        url: http://localhost:9411/api/v2/spans

jwt:
  public:
    key: |
      -----BEGIN PUBLIC KEY-----
      MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAxyxs9a0bpYdH9x2hfjNS
      yNnz4FXmSpPz9CRLbtVlvghnZ4G9HB3Z++Z2HfpLIPahoCyp+Bi8b9gmDue3qRAn
      cSNH16LCcNrOYFapz9MoW3U6ijOKZJsowdWDnHY8e3FjSBTw5s4X9c2wha2v9Erj
      QNYdIIDXmqWoWm2206MsDzbwQ4bQo69/zMYU0xUmI0ZQViYVa6DVvXXZrYyyLNOv
      JrSxF+Fs3fN3Mv6/rELmwrR9KJNL+NaKuQW7BDV8L0f5m6davtQwzSmwkR+BlT97
      4wPPPdnZN+CzRW+7wAHTsMw1D8nEtL2bkHh1X82p+2nyMl+qQ/FtTaYEvbnazPGs
      ewIDAQAB
      -----END PUBLIC KEY-----
  private:
    key: classpath:private.key

logstash:
  destination: localhost:5000

logging:
  level:
    root: WARN

    # Spring
    org.springframework: WARN
    org.springframework.web: WARN
    org.springframework.boot: WARN
    org.springframework.security: WARN

    # Hibernate / JPA
    org.hibernate: WARN
    org.hibernate.SQL: OFF
    org.hibernate.type.descriptor.sql: OFF

    # Infra
    org.apache: WARN
    reactor.netty: WARN

    com.glaiss: INFO

---
spring:
  config:
    activate:
      on-profile: dev
  datasource:
    url: jdbc:postgresql://localhost:5432/glaiss?TimeZone=America/Sao_Paulo
    username: gl_user
    password: gl_user
    driver-class-name: org.postgresql.Driver

---
spring:
  config:
    activate:
      on-profile: prod
  datasource:
    url: ${DB_URL}
    username: ${USER_DB}
    password: ${PASSWORD_DB}
    driver-class-name: org.postgresql.Driver
  flyway:
    user: ${USER_DB}
    password: ${PASSWORD_DB}
  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
  cloud:
    discovery:
      eureka:
        instance:
          hostname: ${EUREKA_INSTANCE_HOSTNAME}
    client:
      hostname: ${EUREKA_INSTANCE_HOSTNAME}
eureka:
  client:
    service-url:
      defaultZone: ${URL_DISCOVERY}
  instance:
    hostname: ${EUREKA_INSTANCE_HOSTNAME}
    non-secure-port: ${EUREKA_INSTANCE_NON_SECURE_PORT}
    prefer-ip-address: false
    instance-id: ${spring.application.name}:${server.port}
server:
  port: ${PORT}
logstash:
  destination: ${LOGSTASH}

jwt:
  private:
    key: ${JWT-PRIVATE-KEY}