name: Deploy

on:
  push:
    branches: [ "main" ]

jobs:
  call-reusable-deploy:
    uses: GustavoAca/core/.github/workflows/reusable-service-deploy.yml@main
    with:
      image_name: users
      needs_private_key: true
    secrets:
      USERNAME: ${{ secrets.USERNAME }}
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      DOCKER_HUB_USER: ${{ secrets.DOCKER_HUB_USER }}
      DOCKER_HUB_PASSWORD: ${{ secrets.DOCKER_HUB_PASSWORD }}
      JWT_PRIVATE_KEY: ${{ secrets.JWT_PRIVATE_KEY }}
