name: Deploy

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    uses: GustavoAca/infra-aws-free-tier/.github/workflows/service-workflow.yml@main
    secrets: inherit
    with:
      needs_private_key: true

  push-to-ecr:
    needs: build
    uses: GustavoAca/infra-aws-free-tier/.github/workflows/ecr-push.yml@main
    with:
      image_name: user-service
      needs_private_key: true
    secrets: inherit

  push-to-ec2:
    needs: push-to-ecr
    uses: GustavoAca/infra-aws-free-tier/.github/workflows/ecs-deploy.yml@main
    with:
      cluster_name: app-cluster
      service_name: app-serviceapp-service
      needs_private_key: true
    secrets: inherit

  increment-version:
    needs: push-to-ec2
    uses: GustavoAca/infra-aws-free-tier/.github/workflows/increment-version.yml@main
    secrets: inherit