name: Continuos Integration

on:
  push:
    branches:
      - 'G*'

jobs:
  call-reusable-workflow:
    uses: GustavoAca/infra-aws-free-tier/.github/workflows/service-workflow.yml@main
    secrets:
      USERNAME: ${{ secrets.USERNAME }}
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}